<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<style type="text/css">

			.bg-shadow {

				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}

			.check-label label {
				height: 0px;
			}

			.custom-control-input:checked~.custom-control-label::before{

				background-color: #18a2b9 !important;

			}

			.ui-dialog-titlebar {
				display: none;
			}

			.lds-ring {
			  display: inline-block;
			  position: relative;
			  width: 64px;
			  height: 64px;
			}
			.lds-ring div {
			  box-sizing: border-box;
			  display: block;
			  position: absolute;
			  width: 51px;
			  height: 51px;
			  margin: 6px;
			  border: 6px solid #fff;
			  border-radius: 50%;
			  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			  border-color: #fff transparent transparent transparent;
			}
			.lds-ring div:nth-child(1) {
			  animation-delay: -0.45s;
			}
			.lds-ring div:nth-child(2) {
			  animation-delay: -0.3s;
			}
			.lds-ring div:nth-child(3) {
			  animation-delay: -0.15s;
			}
			@keyframes lds-ring {
			  0% {
			    transform: rotate(0deg);
			  }
			  100% {
			    transform: rotate(360deg);
			  }
			}


			.loader {
				z-index: 10;
			}

		</style>

		<title>Welcome</title>
	</head>
	<style>

	</style>

	<body class="bg-info text-light">

		<div class="loader d-none position-absolute w-100 align-items-center">
			<div class="mx-auto lds-ring"><div></div><div></div><div></div><div></div></div>
		</div>

		<div class="btn-container dialog">

			<div class="d-flex align-items-center justify-content-center h-100">

				<div class="mx-2 signIn btn btn-light">Log In</div>

			</div>

		</div>

		<div class="container formPage">

			<div id="dialog-signin" class="dialog d-flex align-items-center justify-content-center">

				<div class="col-lg-4 col-md-6 col-sm-8 col-12 bg-dark rounded p-3 text-light bg-shadow">

					<form role="form" id="sign-in" novalidate action="/home" method="get">

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label for="in-email">Email address</label>
								<small class="text-warning pl-2 text-right"><label for="in-email" generated="true" class="error"></label></small>
							</div>

							<input name="in-email" class="form-control" id="in-email" aria-describedby="emailHelp" placeholder="Enter email" value="qasimali24@gmail.com">

						</div>

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label for="in-pass">Password</label>
								<small class="text-warning pl-2 text-right"><label for="in-pass" generated="true" class="error"></label></small>
							</div>

							<input name="in-pass" type="password" class="form-control" id="in-pass" placeholder="Password" value="pakistani">

						</div>

						<p class=""><small class="text-warning form-error"></small></p>

						<button type="button" id="click-login" class="btn btn-info">Log In</button>
						<button type="button" class="signUp btn btn-outline-light">Sign Up</button>
						<button type="button" class="forgotpassword btn btn-dark"><small>Forgot Password ?</small></button>

					</form>

				</div>

			</div>

			<div id="dialog-signup" class="dialog d-flex align-items-center justify-content-center">

				<div class="col-lg-4 col-md-6 col-sm-8 col-12 bg-dark rounded p-3 text-light bg-shadow">

					<form role="form" id="sign-up" novalidate action="/home" method="get">

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">

								<label for="user-name">Name</label>

								<small class="text-warning pl-2 text-right"><label for="user-name" generated="true" class="error"></label></small>

							</div>

							<input name="user-name" type="text" class="form-control" id="user-name" aria-describedby="emailHelp" placeholder="Enter your last name" value="Qasim">

							<small class="text-muted">I need to store pics with your name. This name will be visible to people you share your edits with.</small>

						</div>

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label for="user-email">Email address</label>
								<small class="text-warning pl-2 text-right"><label for="user-email" generated="true" class="error"></label></small>
							</div>

							<input name="user-email" class="form-control" id="user-email" aria-describedby="emailHelp" placeholder="Enter email" >

							<!--						value="qasimali24@gmail.com"-->

							<small class="text-muted">You will get notifications only. No newsletters.</small>

						</div>

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label for="user-pass">Password</label>
								<small class="text-warning pl-2 text-right"><label for="user-pass" generated="true" class="error"></label></small>
							</div>

							<input name="user-pass" type="password" class="form-control" id="user-pass" placeholder="Password" value="pakistani">

							<small class="text-muted">Create an easy password. Np :)</small>

						</div>

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">

								<div class="custom-control custom-checkbox">
									<input name="agreeTerms" type="checkbox" class="custom-control-input" id="agreeTerms" checked>
									<span class="custom-control-indicator"></span>
									<label class="custom-control-label" for="agreeTerms">I agree to terms and policy</label>
								</div>

							</div>

						</div>

						<p class="d-none"><small class="text-warning text-right check-label"><label for="agreeTerms" generated="true" class="signup-error"></label></small></p>

						<button type="button" id="click-signup" class="btn btn-info">Submit</button>
						<button type="button" class="signIn btn btn-outline-light">Login</button>

					</form>

				</div>

			</div>

			<div id="dialog-forgotpassword" class="dialog d-flex align-items-center justify-content-center">

				<div class="col-lg-4 col-md-6 col-sm-8 col-12 bg-dark rounded p-3 text-light bg-shadow">

					<form role="form" id="forgotpassword" novalidate action="/home" method="get">

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">

								<label class="level-0" for="fp-email">Your email address</label>

								<small class="text-warning pl-2 text-right"><label for="fp-email" generated="true" class="error fp-email-error"></label></small>

							</div>

							<input name="fp-email" type="text" class="level-0 form-control" id="fp-email" aria-describedby="emailHelp" placeholder="qasimali24@gmail.com" value="qasimali24@gmail.com">

							<small class="text-muted">If you do not have your email registered, please sign up.</small>

						</div>

						<button type="button" id="rx-code" class="mb-2 btn btn-info" name="button">Recieve code</button>
						<br>

						<span class="mail-notif d-none text-success"><i class="fas fa-check-circle"></i><small id="mail_sent" class="text-light"> <b> Mail sent !</b></small></span>


						<hr class="bg-info">

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">

								<!-- <label id="level-1" class="level-1 text-muted" for="fp-code"></label> -->

								<small class="text-warning text-right"><label for="fp-code" generated="true" class="fp-error d-none"></label></small>

							</div>

							<input name="fp-code" type="text" class="level-1 form-control bg-dark" id="fp-code" aria-describedby="emailHelp" placeholder="123asd" value="" maxlength="6">

							<small class="text-muted">Check your email for the code and write above.</small>
							<br>
							<span class="code-notif d-none text-success"><i class="fas fa-check-circle"></i><small id="mail_sent" class="text-light"> <b> Code Verified !</b></small></span>

						</div>

						<hr class="bg-info">

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label class="level-2 text-muted" for="fp-pass">Password</label>
								<small class="text-warning pl-2 text-right"><label for="fp-pass" generated="true" class="error"></label></small>
							</div>

							<input name="fp-pass" type="password" class="level-2 form-control bg-dark" id="fp-pass" placeholder="Password" value="pakistani">

							<small class="text-muted">Create an easy password. Np :)</small>

						</div>

						<div class="form-group">

							<div class="d-flex justify-content-between align-items-center">
								<label class="level-2 text-muted" for="fp-pass2">Confirm Password</label>
								<small class="text-warning pl-2 text-right"><label for="fp-pass2" generated="true" class="error"></label></small>
							</div>

							<input name="fp-pass2" type="password" class="level-2 form-control bg-dark" id="fp-pass2" placeholder="Password" value="pakistani">

							<small class="text-muted">Please enter same as you entered in previous field.</small>

						</div>

						<p class=""><small class="d-none text-warning check-label"><label for="agreeTerms" generated="true" class="forgotpassword-error"></label></small></p>

						<button type="button" id="click-forgotpassword" class="level-2 btn btn-info">Submit</button>
						<button type="button" class="signIn btn btn-outline-light">Log In</button>
						<button type="button" class="signUp btn btn-outline-light">Sign Up</button>

					</form>

				</div>

			</div>

		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.js"
				integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
				crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/additional-methods.js"></script>

		<script>

			$( document ).ready(function() {

				let wht = $(window).height();
				let wwt = $(window).width();

				$('.btn-container').height(wht);
				$('.loader').height(wht);


				$( "#dialog-signup" ).dialog({
					resizable: false,
					height: 'auto',
					width: 'auto',
					position: { my: "center", at: "center", of: window },
					modal: true,
					autoOpen: false,
					appendTo: ".formPage",
					show: {
						effect: "fade",
						duration: 500
					}
				});

				$( "#dialog-signin" ).dialog({
					resizable: false,
					height: 'auto',
					width: 'auto',
					position: { my: "center", at: "center", of: window },
					modal: true,
					autoOpen: false,
					appendTo: ".formPage",
					show: {
						effect: "fade",
						duration: 500
					}
				});

				$( "#dialog-forgotpassword" ).dialog({
					resizable: false,
					height: 'auto',
					width: 'auto',
					position: { my: "center", at: "center", of: window },
					modal: true,
					autoOpen: false,
					appendTo: ".formPage",
					show: {
						effect: "fade",
						duration: 500
					}
				});

			})

			$('.signUp').click(function () {

				$('.dialog').hide();

				$( "#dialog-signin" ).dialog('close');

				$( "#dialog-forgotpassword" ).dialog('close');

				$( "#dialog-signup" ).dialog('open');

			})

			$('.signIn').click(function () {

				$('.dialog').hide();

				$( "#dialog-signup" ).dialog('close');

				$( "#dialog-forgotpassword" ).dialog('close');

				$( "#dialog-signin" ).dialog('open');

			})

			$('.forgotpassword').click(function () {

				$('.dialog').hide();

				$( "#dialog-signin" ).dialog('close');

				$( "#dialog-forgotpassword" ).dialog('open');

			})

			$('#click-signup').click(function(e) {

				console.log('ok clicked');

				if (!($("#sign-up").valid())) {

					return;

				}

				let data = {
					'query': 'Register',
					"name": $('#user-name').val(),
					"email": $('#user-email').val(),
					"password": $('#user-pass').val(),
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/data',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((token) => {
						console.log('successful: ', token);
						$('#sign-up').attr('action',`/home/${token}`);
						$("#sign-up").submit();
					}).fail((e) => {
						console.log('error here', e.responseText);
						return $('.signup-error').html(`<i class="fas fa-exclamation-circle"></i> ` + e.responseText)
					});
			});

			$('#click-login').click(function(e) {

				if (!($("#sign-in").valid()))	return;

				let data = {
					"query": 'Login',
					"email": $('#in-email').val(),
					"password": $('#in-pass').val()
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/data',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((token) => {
						console.log('successful login: ', token);
						$('#sign-in').attr('action',`/home/${token}`);
						$("#sign-in").submit();
					}).fail((e) => {
						console.log('error here', e);
						return $('.form-error').html(`<i class="fas fa-exclamation-circle"></i> ` + e.responseText);
					});

			});

			$('#rx-code').click(() => {

				if ( $('#fp-email').val() === '' || !((/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/).test($('#fp-email').val())) ) return $('.fp-email-error').html('<i class="fas fa-exclamation-circle"></i> Invalid field.');

				$('.fp-email-error').html('');
				$('.loader').toggleClass('d-none d-flex');

				let data = {
					"query": 'Email_Verify',
					"email": $('#fp-email').val(),
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/data',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((msg) => {
						console.log('Done:',msg);
						$('.level-1').removeClass('text-muted bg-dark').attr('disabled',false);
						$('.level-0').attr('disabled',true).addClass('bg-dark text-muted');
						$('#rx-code').attr('disabled',true);
						$('.mail-notif').removeClass('d-none');
						$('.loader').toggleClass('d-none d-flex');
					}).fail((e) => {
						console.log(e.responseText,e);
						$('.loader').toggleClass('d-none d-flex');
						return $('.fp-email-error').html(`<i class="fas fa-exclamation-circle"></i> ${e.responseText}`);
					});

			})

			$('#fp-code').keyup(() => {
				if ($('#fp-code').val().length < 6) return console.log('less then 6 yet');

				let data = {
					"query": 'Test_Code',
					"email": $('#fp-email').val(),
					"code": $('#fp-code').val(),
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/data',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((msg) => {
						console.log('Done:',msg);
						$('.level-2').removeClass('bg-dark text-muted').attr('disabled',false);
						$('.level-1').addClass('bg-dark').attr('disabled',true);
						$('.code-notif').removeClass('d-none');
						$('.fp-error').addClass('d-none');
					}).fail((e) => {
						console.log(e.responseText,e);
						$('.fp-error').removeClass('d-none').html(e.responseText);
					});
			});

			$('#click-forgotpassword').click(() => {
				console.log('click the button');
				if ($('#fp-pass').val() === '' || $('#fp-pass2').val() === '') {
					console.log('error is here');
					return $('.forgotpassword-error').html('Please fill in valid fields for the passwords.').closest('small').removeClass('d-none');
				}

				if ($('#fp-pass').val() !== $('#fp-pass2').val()) {
					return $('.forgotpassword-error').html('Your passwords do not match.').closest('small').removeClass('d-none');
				}

				$('.forgotpassword-error').closest('small').addClass('d-none');

				let data = {
					"query": 'new_password',
					"email": $('#fp-email').val(),
					"code": $('#fp-code').val(),
					"password": $('#fp-pass').val()
				};

				data = JSON.stringify(data);

				$.ajax({
				    url: '/data',
				    type: 'post',
				    data,
				    headers: {
				        'content-type': 'application/json',
				    }
					}).done((msg) => {
						console.log('Done:',msg);
						
					}).fail((e) => {
						console.log(e.responseText,e);
						return $('.forgotpassword-error').html(e.responseText).closest('small').removeClass('d-none');
					});

			})

			$.validator.setDefaults({

				highlight: function(element, errorClass, validClass) {

				},

				unhighlight: function(element, errorClass, validClass) {

				}
			});

			$("#sign-in").validate({

				rules: {
					'in-email' : {
						required: true,
						minlength: 5,
						email: true
					},
					'in-pass' : {
						required: true,
						minlength: 5,
					}

				},
				messages: {
					'in-email' : {
						required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
						email: `<i class="fas fa-exclamation-circle"></i>`+" email address is invalid",
						minlength: `<i class="fas fa-exclamation-circle"></i>`+" atleast 5 characters",
					},
					'in-pass' : {
						required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
						minlength: `<i class="fas fa-exclamation-circle"></i>`+" atleast 5 characters"
					}
				},

			});

			$("#sign-up").validate({

				rules: {
					'user-name' : {
						required: true,
						lettersonly: true,
						minlength: 2
					},
					'user-email' : {
						required: true,
						minlength: 5,
						email: true
					},
					'user-pass' : {
						required: true,
						minlength: 5
					},
					agreeTerms: {
						required: true
					}

				},
				messages: {
					'user-name': {
						required: `<i class="fas fa-exclamation-circle"></i>`+" Please write your name",
						lettersonly: `<i class="fas fa-exclamation-circle"></i>`+" a name can not have symbols and numbers",
						minlength: `<i class="fas fa-exclamation-circle"></i>`+" atleast 2 characters"
					},
					'user-email' : {
						required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
						email: `<i class="fas fa-exclamation-circle"></i>`+" email address is invalid",
						minlength: `<i class="fas fa-exclamation-circle"></i>`+" atleast 5 characters",
						remote: `<i class="fas fa-exclamation-circle"></i>`+" This email is already registered"
					},
					'user-pass' : {
						required: `<i class="fas fa-exclamation-circle"></i>`+" Fill in the blank",
						minlength: `<i class="fas fa-exclamation-circle"></i>`+" atleast 5 characters",
					},
					agreeTerms: {
						required: `<i class="fas fa-exclamation-circle"></i>`
					}
				},

			});

			</script>
	</body>
</html>
