<?php

session_start();

?>

<!doctype html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<style type="text/css">


			/* width */
			::-webkit-scrollbar {
				width: 1px;
				height: 0px;
			}

			/* Track */
			::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
				background: #888;
			}

			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

			.canvas-btn {

				cursor: pointer;
				position: relative;
				font-size: 80%;


			}

			bg-transparent {
				background-color: transparent;
			}

			canvas {
				position: absolute;
				z-index: 2;
				cursor: copy;


				/*				pointer-events: none;*/
			}

			.img-block {
				background: transparent;

			}

			.bg-shadow {

				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}

			.circleAndNo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 2;
				font-size: 80%;
				font-weight: bold;
				height: 1.7rem;
				width: 1.7rem;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				cursor: pointer;
			}

			.circleAndNo elem {

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);

			}

			.circleAndNo span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				height: 180%;
			}

			.fa-paint-brush {
				pointer-events: none;
			}

			textarea {
				resize: none;
			}

			.custom-dark-popover .arrow::after {
				bottom: 1px;
				border-top-color: #343a40;
			}

			.detailBox {
				position: absolute;
				z-index: 0;
				display: block;
			}

			.detailBox-text {

				position: relative;
				max-width: 100%;
				white-space: nowrap;
				overflow: hidden;

			}

			.span-No {
				min-width: 8.5%;
			}

			.detailBox-Big {

				top: 100%;
				left: 0%;
				/*				display: none;*/
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}

			.deletecircleAndNo {

				cursor: pointer;

			}

			.setting-btn {

				position: relative;

			}

			.settings-btn span {

				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				height: 1.5rem;

			}

			.box {

				height: 3rem;
				width: 4rem;
				position: relative;
				cursor: pointer;

			}

			.rtbt-subBox {

				right: 0px;
				bottom: 0px;

			}

			.ltbt-subBox {

				left: 0px;
				bottom: 0px;

			}

			.lttp-subBox {

				top: 0px;
				left: 0px;

			}

			.rttp-subBox {

				top: 0px;
				right: 0px;

			}

			.bgbt-subBox {

				bottom: 0px;

			}

			.custom-popover-header::before {
				width: 0rem !important;
			}

			.settings-btn {
				position: relative;
				cursor: pointer;
				font-size: 80%;
			}

			#overlay {

				left: 50%;
				transform: translate(-50%,0);
				z-index: 3;

			}

			.image {

				display: block;
				width: auto;
				height: auto;

			}

			.custom-hide {
				position: absolute !important;
				top: -9999px !important;
				left: -9999px !important;
			}

			.overflow-hidden {
				overflow: hidden;
			}

			.ui-dialog-titlebar {
				display: none;
			}

			.logout-btn {
				cursor: pointer;
			}

			.check-label label {
				height: 0px;
			}

			.custom-control-input:checked~.custom-control-label::before{

				background-color: #18a2b9 !important;

			}

			.back-btn {
				cursor: pointer;
			}

			/*Story Board CSS here*/
			.card img {

				max-width: 100%;

			}

			.grid-item a:hover {
				text-decoration: none;
			}

			.draft-badge {

				position: absolute;
				top: 0.5em;
				right: 0.5em;

			}

			.modal-spinner {

				position: fixed;
				width: 100%;
				height: 100%;
				/*				background-color:rgba(0,0,0,0.4);*/

			}

			.spinner {

				position: fixed;
				z-index: 1000;
				top: 50%;
				left: 50%;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				border: 0.2rem solid transparent !important;
				border-top: 0.1rem solid #ffc107 !important;
				border-right: 0.1rem solid #ffc107 !important;
				border-bottom: 0.1rem solid #ffc107 !important;
				margin-top: -2rem;
				margin-left: -2rem;
				pointer-events: none;
				animation: spin 2s linear infinite;

			}

			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}

			.upload-btn-wrapper {

				cursor: pointer;
				/*				pointer-events: none;*/

			}

			.upload-btn-wrapper input[type=file]{

				position: absolute;
				top: -1000px;

			}

			.upload-textarea-wrapper .heading {

				z-index: 2;
				pointer-events: none;

			}

			.upload-btn-text {

				font-size: 200%;

			}

			.upload-textarea-wrapper textarea {

				font-size: 200%;
				z-index: 1;

			}

			.ok-btn {

				cursor: pointer;

			}

			.ok-btn-box {

				position: absolute;
				bottom: 0px;
				right: 0px;
				display: none;
				opacity: 0;
				z-index: 3;

			}

			.ok-btn-file {

				bottom: 0px;
				right: 0px;

			}

			.ok-btn-box label {

				height: 0px;

			}

			.ok-btn-box .error-span {

				display: none;

			}

			small {

				pointer-events: none;

			}

			#upload-error {

				display: none;

			}

			.preview-image-box {

				display: none;
				opacity: 0;

			}

			.cube {
			  width: 30px;
			  height: 30px;
			  background: #f45c41;
			  border-radius: 6px;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  position: relative;
			  cursor: pointer;
			  transition: background 0.2s;
			}

			.plus-vertical,
			.plus-horizontal {
			  background: #fff;
			  border-radius: 4px;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  z-index: 10;
			}

			.plus-vertical {
			  height: 50%;
			  width: 3px;
			}

			.plus-horizontal {
			  width: 50%;
			  height: 3px;
			}

			.quadrant {
			  position: absolute;
			  width: 60%;
			  height: 60%;
			  display: flex;
			  flex-wrap: wrap;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}

			.quadrant__item {
			  width: 50%;
			  height: 50%;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  background: #f45c41;
			  border-radius: 6px;
			  position: relative;
			}

			.quadrant__item__content {
			  width: 100%;
			  height: 100%;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%) rotate(-45deg);
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}

			.arrow-down,
			.arrow-left,
			.arrow-right,
			.arrow-up {
			  opacity: 0;
			}

			.arrow-up {
			  transform: translateY(10px);
			}

			.arrow-down {
			  transform: translateY(-10px);
			}

			.arrow-left {
			  transform: translateX(10px);
			}

			.arrow-right {
			  transform: translateX(-10px);
			}


		</style>

		<title>Make a story - Picture</title>
	</head>

	<body class="bg-info text-light">

		<div class="container-fluid mainPage py-3 d-flex justify-content-center">

				<div class="col-lg-8 col-md-10 col-12 order-md-1 order-2 mx-0 p-0">

					<div class="img-block">

						<div id="overlay" class="position-absolute">

							<div class="detailBox bg-dark rounded">

									<small class="border-right px-1 rounded-left">1</small>
									<small class="border-right px-1">2</small>
									<small class="border-right px-1">3</small>
									<small class=" px-1 rounded-right">4</small>

							</div>

							<canvas data-html2canvas-ignore id="myCanvas"></canvas>

						</div>

						<div class="" id="for-printing">

							<img class="image bg-shadow mx-auto border border-dark rounded-top" id="blah" src="{{image}}" data-id="{{id}}" data-comments= "{{comments}}">

							<div class="position-relative mx-auto detailBox-Big rounded-bottom">

								<div class="d-flex flex-wrap justify-content-center bg-dark rounded-bottom">

								</div>

							</div>

						</div>

						<div class="menu-btn position-fixed" style="right: 10px; bottom: 20px">
								{{> menuBtn}}
						</div>

					</div>

				</div>

		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.js"
				integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
				crossorigin="anonymous"></script>
		<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TimelineLite.min.js" type="text/javascript"></script>

		<script type="text/javascript">

			let wht = $(window).height();
			let wwt = $(window).width();

			$( document ).ready(function() {

				$('.image').trigger('load');

				$('[data-toggle="popover"]').popover({

					animation: true,

				});

				$('[data-toggle="tooltip"]').tooltip();

			}) // DOCUMENT IS READY AND RECIZE

			$( window ).resize(function() {

				wht = $(window).height();
				wwt = $(window).width();

				$('.image').css({'max-height': wht/1.1, 'max-width' : '100%'});

				let imgWt = $('.image').width();
				let imgHt = $('.image').height();

				$('.carry-menu').height(imgHt);

				if (wwt < 767) {

					$('.carry-menu').height('auto');

				}

				$('#overlay').css({height: imgHt, width: imgWt});

				$('.detailBox-Big').css({width: imgWt + 2});

				$('.circleAndNo').each(function(key,value) {

					if ($(this).data().percentX){

						let percent = $(this).data();

						$('.circleAndNo:eq('+key+')').css({
							left: percent.percentX * $('#myCanvas').width() + $('#overlay').position().left,
							top: percent.percentY * $('#myCanvas').height(),
							'font-size': percent.mFontSize * $('#myCanvas').width(),
							height: percent.mHeight * $('#myCanvas').width(),
							width: percent.mWidth * $('#myCanvas').width()
						})

					}

				})

				$( "#dialog-public" ).dialog( "option", "position", { my: "center top", at: "center top", of: window });

			})

			$(document).on('mouseenter mouseleave','.circleAndNo', function() {

				$(this).toggleClass('bg-dark').toggleClass('bg-light');

				if ($(this).data().editFlag) { return };

				let elem = '';

				if ($(this).data().comment) {

					$(this).children().popover('toggle');

					elem = `
<div rows="3" class="p-2 w-100 bg-dark rounded text-light">`+$(this).data('comment')+`</div>
<div class="px-2"><small class="text-muted notify-in-pop py-2 text-light text-left">Login to edit or delete</small></div>
`;
					$('.popover:eq(-1)').addClass('custom-dark-popover bg-dark');

					$('.popover-body:eq(-1)').html(elem);

				}


			}) // HOVER ON MARKER IN CANVAS

			function printcommand(instance) {

				this.array = [];

				this.execute = function execute(bool_textreq) {

					this.array.push(instance);
					instance.execute(bool_textreq);

				}

				this.undo = function undo(instance) {

					let command = this.array.pop();
					command.undo();

				}

			}

			let printhidendisplay = new printcommand({

				execute: function(textreq) {

					let imgWt = $('.image').width();

					let elem = $('#for-printing').clone().addClass('custom-hide bg-dark');

					$('body').append(elem);

					// Custom Hide is image cloned from printing area and placed out of visible DOMs. Image width is given the width of its original image.
					$('.custom-hide').children('.image').width(imgWt);

					if (!(textreq)) {

						$('.custom-hide').children('.detailBox-Big').remove();

					}

					$('.custom-hide').children('.detailBox').remove();

				},

				undo: function() {

					$('.custom-hide').remove();

				}

			});

			$(document).on('click','.download-pic',function(e) {

				let aTag = `<a class="aTag" style="display:none">Click Me</a>`;

				$('body').append(aTag);

				printhidendisplay.execute(false);

				let div = document.querySelector('.custom-hide');

				html2canvas(div,{

					useCORS: true,
					backgroundColor: 'null'

				}).then(function(drawnPic) {

					let link = drawnPic.toDataURL('image/jpeg');

					$('.aTag:eq(0)').attr({href: link, download:'newImage'}).click();

					printhidendisplay.undo();

				});

			})

			$(document).on('click','.aTag',function(e) {

				this.click();
				this.remove();

			})

			let spinner = {

				start: function() {

					let elem = `<div class="modal-spinner"><i class="spinner"></i></div>`;

					$('body').append(elem);

				},

				end: function() {

					$('.modal-spinner').remove();

				}

			}

			$('.image').on('load', function(){

				$(this).css({'max-height': wht/1.1, 'max-width' : '100%'});

				let imgWt = $(this).width();
				let imgHt = $(this).height();

				$('.carry-menu').height(imgHt);

				if (wwt < 767 || imgHt < 300) {

					$('.carry-menu').height('auto');

				}

				$('#overlay').css({height: imgHt, width: imgWt});

				$('.detailBox-Big').css({width: imgWt + 1});

				$('.detailBox').css({right: '2%',bottom: '2%'});

				let elem = `<div class="circleAndNo rounded-circle bg-info text-light" ><span data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span><elem>1</elem></div>`;

				let obj = JSON.parse($('.image').attr('data-comments'));

				$.each(obj, function(key, value) {

						let newObj = value.data;

						$('#for-printing').prepend(elem);

						$('.circleAndNo:eq(0)').css({
								'z-index': 4,
								left: newObj.percentX * $('.image').width() + $('#overlay').position().left,
								top: newObj.percentY * $('.image').height(),
								'font-size': newObj.mFontSize * $('.image').width(),
								height: newObj.mHeight * $('.image').width(),
								width: newObj.mWidth * $('.image').width()
						}).data({
								'percentX': newObj.percentX,
								'percentY': newObj.percentY,
								'mFontSize': newObj.mFontSize,
								'mHeight': newObj.mHeight,
								'mWidth': newObj.mWidth,
								comment: value.comment,
								editFlag: false
						}).find('elem').html(key+1);

						$('.circleAndNo').removeClass().addClass(newObj.classs);

				})

				let fullClassesNew = $('.circleAndNo').attr('class').split(' ');

				let foundClassesNew = $.grep(fullClassesNew, function(item) {

						if (item.indexOf('bg-') != -1 || item.indexOf('text-') != -1) {

								return item

						}

				})

				foundClassesNew = foundClassesNew.join(' ');

				givedatatotextbox();

			});

			let givedatatotextbox = function() {

					let comments = new Array();

					let smallelem = ``;
					let bigelems = ``;

					$.each($('.circleAndNo'), function(key, value) {

							if ($(this).data().comment && $(this).css('display') != 'none') {

									comments[$(this).find('elem').html() - 1] = $(this).data().comment;

							}

					})

					let needColAdjustments = false;

					$('.detailBox-Big').find('.rounded-bottom').children().remove();

					$('.detailBox').children().remove();

					$.each(comments, function(key, value) {

							smallelem = `<small><span class="small-elem border-right px-1">` + (key + 1) + `</span></small>`;

							bigelems = `<div class="big-text-here col-md-4 col-sm-6 col-12 text-left p-2">
<span class="badge badge-light">` + (key + 1) + `</span>
<small>` + value + `</small>
			</div>`;

							$('.detailBox').append(smallelem);

							$('.detailBox-Big').find('.rounded-bottom').append(bigelems);

							$('.big-text-here').last().data({
									textLength: value.length,
									textBlock: Math.floor(key / 3)
							});

							if (value.length > 125) {

									needColAdjustments = true;

							}

					})

					$('.small-elem:eq(-1)').removeClass('border-right');

					if (!needColAdjustments) {

							return;

					}

					needColAdjustments = false;

					let spaceAval = 12;
					let rowNo = 0;
					let rowAlloted = 0;
					let cArray = [];
					let rowArray = [];

					$.each($('.big-text-here'), function(key, value) {

							let currentBlock = $(value).data().textBlock;

							let sumLength = 0;

							let totalSize = $.grep($('.big-text-here'), function(item) {

									if ($(item).data().textBlock == currentBlock) {

											sumLength += $(item).data().textLength;

									}

							});

							let ownPercent = $(value).data().textLength / sumLength * 100;

							let ineed = function() {

									if (ownPercent <= 60) {

											return 4;

									}

									if (ownPercent <= 90) {

											return 8;

									}

									if (ownPercent <= 100) {

											return 12;

									}

							}

							let giveSpace = function(needed, item) {

									if (needed <= spaceAval) {

											spaceAval = spaceAval - needed;

											cArray.push(item);

											return rowNo;

									}

									cArray = [];

									rowNo = rowNo + 1;

									spaceAval = 12;

									return giveSpace(needed, item);

							}

							let needed = ineed();

							rowAlloted = giveSpace(needed, $(this));

							$(this).data({
									neededSpace: needed,
									rowAlloted: rowAlloted
							});

							rowArray[rowAlloted] = cArray;

					});

					$.each(rowArray, function(key, value) {

							let className = function() {

									if (value.length == 1) {

											value[0].toggleClass('col-md-4 col-md-12 col-sm-6 col-sm-12');

											return 'col-md-12';

									}

									if (value.length == 3) {

											value[2].toggleClass('col-sm-6 col-sm-12');
											return 'col-md-4';

									}

									if (value.length == 2) {

											if (value[0].data().neededSpace == value[1].data().neededSpace) {

													value[0].toggleClass('col-md-4 col-md-6');
													value[1].toggleClass('col-md-4 col-md-6');

													return 'col-md-6 col-md-6';

											}

											if (value[0].data().neededSpace == 8) {

													value[0].toggleClass('col-md-4 col-md-8');

													return 'col-md-8 col-md-4';

											}

											value[1].toggleClass('col-md-4 col-md-8');

											return 'col-md-4 col-md-8';


									}

							}

							//					console.log(className());

							className();

					})

			}

			var quadrantItems = document.querySelectorAll('.quadrant__item');
			var svgs = document.querySelectorAll('svg');
			var cube = document.querySelector('.cube');
			var closeButton = document.querySelector('.quadrant__item__content--close');
			var isInside = false;

			var tl = new TimelineLite({paused: true});
			tl.timeScale(1.6);

			tl.to('.cube', 0.4, {rotation: 45, width: '120px', height: '120px', ease: Expo.easeOut}, 'first');
			tl.to('.plus .plus-vertical', 0.3, {height: '0', backgroundColor: '#f45c41', ease: Power1.easeIn}, 'first');
			tl.to('.plus .plus-horizontal', 0.3, {width: '0', backgroundColor: '#f45c41', ease: Power1.easeIn}, 'first');
			tl.to('.cube', 0, {backgroundColor: 'transparent'});
			tl.to(quadrantItems[0], 0.15, {x: -5, y: -5}, 'seperate');
			tl.to('.arrow-up', 0.2, {opacity: 1, y: 0}, 'seperate+=0.2');
			tl.to(quadrantItems[1], 0.15, {x: 5, y: -5}, 'seperate');
			tl.to('.arrow-right', 0.2, {opacity: 1, x: 0}, 'seperate+=0.2');
			tl.to(quadrantItems[3], 0.15, {x: 5, y: 5}, 'seperate');
			tl.to('.arrow-down', 0.2, {opacity: 1, y: 0}, 'seperate+=0.2');
			tl.to(quadrantItems[2], 0.15, {x: -5, y: 5}, 'seperate');
			tl.to('.arrow-left', 0.2, {opacity: 1, x: 0}, 'seperate+=0.2');

			cube.addEventListener('mouseenter', playTimeline);
			cube.addEventListener('mouseleave', reverseTimeline);

			function playTimeline(e) {
			  e.stopPropagation();
			  tl.play();
			}

			function reverseTimeline(e) {
			  e.stopPropagation();
			  tl.timeScale(1.8);
			  tl.reverse();
			}


		</script>

	</body>

</html>
